<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitonneux.presentation_helper">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <!-- TODO:is there a way to do it in code? or put the ressouce here instead of creating one  -->
    <!-- added custom theme (values/lock_activity_theme.xml) to lock my Project activity -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ph_icon_4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name="com.pitonneux.presentation_helper.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pitonneux.presentation_helper.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name="com.pitonneux.presentation_helper.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/lock_activity_theme"></activity>
    </application>

</manifest>